.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.con{
  background-color: #a4b1e6;
  height: 50em;
}
.castVoteButtonContainer{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}

.electionContainerRow{
  display: flex;
  justify-content: center;
}

.electionContainerColumn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}

.candidatesTableContainer{
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 30px;
}

.candidateListTableRow{
  justify-content: space-around;
}
.candidateListTable{
  padding: 10px 16px;
  text-align: center;
}

.candidateListTable > thead > tr > th{
  padding: 10px 16px;
  text-align: center;
  border-style: none;
  color: white;
  background-color: #5c636a;
  border-style: none;

}

.candidateListTable > tbody > tr > td{
  padding: 10px 16px;
  text-align: center;
  border-style: none;

}

.accountAddressClass{
  display: flex;
  justify-content: right;
  align-items: center;
  line-height: 6px;
  width: 100%;
  color: white;
  font-weight: 600;
  word-break: break-all;
  white-space: normal;
}
.card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}


.formContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .candidatesTableContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px;
  }
  .accountAddressClass{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-weight: 600;
    word-break: break-all;
    white-space: normal;
  }
  }

