.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.castVoteButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}

.electionContainerRow{
  display: flex;
  justify-content: center;
}

.electionContainerColumn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}

.candidatesTableContainer{
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 30px;
}

.candidateListTableRow{
  justify-content: space-around;
}

.candidateListTable > thead > tr > th{
  padding: 10px 16px;
  text-align: center;
}

.candidateListTable > tbody > tr > td{
  padding: 10px 16px;
  text-align: center;
}

.accountAddressClass{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 600;
}

.formContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}
